.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.titleText {
  display: flex;
  justify-content: center;
  color: #382f76;
  padding-top: 50px;
  padding-bottom: 80px;
}

.serviceFrame {
  align-items: flex-end;

  padding-bottom: 10vh;

  display: grid;
  grid-column-gap: 150px;
  grid-row-gap: 20px;
  grid-template-columns: 300px 300px 300px;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.serviceName {
  color: white;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
}

.imgContainer {
  display: flex;
  width: 300px;
  height: 400px;
  justify-content: center;

  display: grid;
  grid-template-areas: overlay;
  position: relative;
  align-content: center;
  align-items: flex-end;
  align-content: space-between;
}

.serviceImg {
  aspect-ratio: 2/1;
  position: absolute;
  border: 14px solid #382f76;
}

.lowerPart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 1051px) and (max-width: 1500px) {
  .serviceFrame {
    grid-template-columns: 300px 300px;
  }
}

@media only screen and (max-width: 1050px) {
  .serviceFrame {
    grid-template-columns: 300px;
  }
}
