.image {
  width: 100%;
  height: 50rem;
}

.swiperSlempresa {
  width: 100%;
  border: solid 1px black;
}

.container {
  align-self: center;
  align-items: center;
}


@media only screen  and  (max-width: 1200px) {
  .image {
    height: 30rem;
  }
}