.container {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--bg-image, none);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.titulo {
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-bottom: 10px;
  color: #382f76;
  padding-bottom: 5vh;
  padding-top: 10vh;
}

.texto {
  flex: 1;
  width: 70%;
  line-height: 2rem;
}

.boxBotao {
  padding-top: 5vh;
  flex: 1;
}

.botao {
  padding: 0.5rem 3rem;
  background-color: transparent;
  color: #382f76;
  border: 2px solid #382f76;
  cursor: pointer;
  font-size: 1.5rem;
}

@media only screen and (max-width: 620px) {
  .titulo {
    margin-bottom: 10px;
    color: #382f76;
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  .texto {
    flex: 1;
    width: 70%;
    line-height: 2.5rem;
  }
}
