.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  
  position: relative;
  width: 95%;
  height: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
  
  aspect-ratio: 14/5;
  
  border-radius: 2vh;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #242424;
  
  border-radius: 2vh;
}

.img {
  width: 33.33%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 2vh;
}

.dados {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.emCima {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titulo {
  word-wrap: break-word;
  color: #382F76;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.linha {
  border: 0;
  height: 1%;
  width: 80%;
  align-self: center;
  background: #382F76;
  margin: 4%;
}

.previa {
  word-wrap: break-word;
  color: white;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.embaixo {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  color: white;
}

.autor {
  color: white;
  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .previa {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .titulo {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .card {
    aspect-ratio:9/7;
  }

  .data {
    display: none;
  }

  .embaixo {
    justify-content: center;
  }
}


@media only screen and (min-width: 577px) and (max-width: 799px) {
  .previa {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .titulo {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card {
    aspect-ratio:9/7;
  }

  .data {
    display: none;
  }

  .embaixo {
    justify-content: center;
  }
}


@media only screen and (min-width: 300px) and (max-width: 576px) {
  .previa {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .titulo {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card {
    aspect-ratio:9/7;
  }
  
  .data {
    display: none;
  }

  .embaixo {
    justify-content: center;
  }

  .emCima {
    color: rebeccapurple;
  }
}


@media only screen and (max-width: 299px) {
  .previa {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .titulo {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .data {
    display: none;
  }

  .embaixo {
    justify-content: center;
  }
}