@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400&display=swap");

:root {
  --fa-primary-color: #382f76;
  width: 100%;
  height: 100%;
}

html {
  background-color: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: #262626;
  color: white;
}

body {
  width: 100%;
  color: white;
}

strong {
  font-weight: bold;
}

a {
  color: #382f76;
  text-decoration: none;
  cursor: pointer;
}

p {
  background: none;
  font-size: 1rem;
}

textarea {
  color: black;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

.footer {
  background-color: #382f76;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

button {
  font-size: 1.2rem;
  border: 2px solid #382f76;
  padding: 1rem 3rem;
  background-color: transparent;
  color: #382f76;
  cursor: pointer;
  transition: 0.7s;
}

button:hover {
  background-color: #382f76;
  color: black;
  border: none;
}

button:active {
  border: 2px solid #382f76;
  background-color: transparent;
  color: #382f76;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #382f76;
}

header .navBtn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .navBtn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #262626;
    transition: 1s;
  }

  header .responsiveNav {
    transform: translateY(100vh);
  }

  nav .navCloseBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1280px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 830px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
  }
}
