.container {
  width: 100%;
  height: 100%;
}

.postsGrid {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}

@media only screen and (min-width: 1921px) {
  .postsGrid {
    grid-template-columns: 650px 650px;
    grid-column-gap: 0rem;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .postsGrid {
    grid-template-columns: 650px 650px;
    grid-column-gap: 0rem;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .postsGrid {
    grid-template-columns: 600px 600px;
    grid-column-gap: 0rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .postsGrid {
    grid-template-columns: 500px 500px;
    grid-column-gap: 0rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .postsGrid {
    grid-template-columns: 500px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .postsGrid {
    grid-template-columns: 400px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
  .postsGrid {
    grid-template-columns: 300px;
  }
}

@media only screen and (max-width: 299px) {
  .postsGrid {
    grid-template-columns: 230px;
  }
}
