.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carrossel {
  width: 60%;
}

.swiperContainer {
  display: block;
}

.swiperIndi {
  padding: 0rem 3rem 3rem 3rem;
  height: 100%;
  width: 90%;
}

.titleSection {
  padding-bottom: 5rem;
  color: #382F76;
  text-align: center;
  width: 100%;
  display: block;
}


@media only screen  and (min-width: 1281px) and (max-width: 1440px) {
  .swiperIndi {
    padding: 0rem 3rem 3rem 3rem;
  }
  .carrossel {
    width: 70%;
  }
}


@media only screen  and (min-width: 577px) and (max-width: 1280px) {
  .swiperIndi {
    padding: 0rem 3rem 3rem 3rem;
  }
  .carrossel {
    width: 80%;
  }
}


@media only screen  and (max-width: 576px) and (orientation: portrait) {
  .swiperIndi {
    padding: 0rem 2rem 2rem 2rem;
  }
  .carrossel {
    width: 100%;
  }
}