.containerValores {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topLeft {
  grid-area: tl;
  grid-column: 1;
  grid-row: 1;
}

.topRight {
  grid-area: tr;
  grid-column: 2;
  grid-row: 1;
}

.middle {
  grid-area: m;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.bottomLeft {
  grid-area: bl;
  grid-column: 1;
  grid-row: 3;
}

.bottomRight {
  grid-area: br;
  grid-column: 2;
  grid-row: 3;
}

.titleValores {
  color: #382f76;
  font-weight: 600;
  padding: 1rem;
}

.textValores {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.titleGrande {
  width: 40%;
  background-color: #382f76;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .valores {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  .middle {
    grid-row: 1;
  }

  .topLeft {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .topRight {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .bottomLeft {
    grid-row: 4;
    grid-column: 1 / span 2;
  }

  .bottomRight {
    grid-row: 5;
    grid-column: 1 / span 2;
  }

  .titleGrande {
    font-weight: 500;
    width: 80%;
  }
}
