.button,
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: fit-content;
  height: 100%;
  background: none;
  color: #382f76;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.tituloMobile {
  background-color: #382f76;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100%;
  padding: 10px;
  white-space: nowrap;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.icone {
  font-size: 10vw;
}

.optionButton {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #262626;
  color: #382f76;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 100%;
}

.lista {
  list-style-type: none;
  display: flex;
}

.menuContainer,
.tituloEBotaoMobile {
  width: fit-content;
  height: 100%;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.25);

  max-width: 90%;
  margin-bottom: 100px;
}

.menuContainer {
  overflow-x: auto;
}

.containerMobile {
  display: none;
  margin-bottom: 0;
}

.aaa {
  position: relative;
}

.containerDesktop {
  display: flex;
}

.active {
  background: #382f76;
  color: black;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  border-radius: 10px;
}

.menuContainer::-webkit-scrollbar-track {
  padding: 2px 0;
  background: none;
}

.menuContainer::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.menuContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #382f76;
}

@media only screen and (max-width: 800px) {
  .containerMobile {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    background-color: none;
  }

  .container {
    display: flex;
    justify-content: space-around;
  }

  .menuContainer {
    overflow-x: visible;
  }

  .tituloEBotaoMobile {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    justify-content: space-between;
    min-width: 70vw;
    z-index: 2;
    min-height: 6vh;
  }

  .button,
  .active {
    border: none;
    width: 100%;
    justify-content: start;
    align-items: center;
    text-align: start;
    background: none;
    color: #382f76;
  }

  .active {
    color: black;
    background-color: #382f76;
  }

  .dropdownInactive {
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 250ms ease-in-out;
    opacity: 100ms ease-in-out;
    position: absolute;
    background-color: #1f1f1f;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.25);
    width: 100%;
    align-self: flex-end;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 2vh;
    z-index: 1;
  }

  .dropdownActive {
    opacity: 1;
    transform: translateY(-3%);
  }

  .containerDesktop {
    display: none;
  }
}
