.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1/2;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.box {
  width: 100%;
  height: 100%;
  background-color: #262626;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dados {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.img {
  position: relative;
  width: 100%;
  height: 66.66%;
  overflow: hidden;
  display: block;
}

.nome {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 140%;
  word-wrap: break-word;
}

.posicao {
  font-size: 100%;
  color: white;
}


@media only screen and (max-width: 480px) and (orientation: portrait) {
  
  .container {
    aspect-ratio: 2/3;
  }

  .nome {
    display: flex;
    font-size: 130%;
    word-wrap: break-word;
  }
  
  .posicao {
    font-size: 90%;
  }
}